github "prezi/cocoa-glassboxlog" "847915b0cc5e6aa847d869ed810bd66b37ada605"
binary "https://raw.githubusercontent.com/prezi/carthage-specs/master/mac/fabric.json" ~> 1.7.5
binary "https://raw.githubusercontent.com/prezi/carthage-specs/master/mac/crashlytics.json" ~> 3.9.3
